@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0e0d11;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #c33722, #fdfb2d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 500px;
  margin-left: -30px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  border-radius: 40px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #c33722, #fdfb2d, #c33722);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: 0.5s ease;
}

.btn:hover::before {
  background-position: 100% 0;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #c33722, #fdfb2d, #c33722);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

.btn:hover::after {
  background-position: 100% 0;
}

.home-sci a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #c33722, #fdfb2d);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
}

.home-sci a:nth-child(1) {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #c33722, #fdfb2d);
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}

.home-sci a:hover::before {
  filter: blur(5px);
}

.home-sci a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}

.home-sci a:hover::after {
  transform: scale(0);
}

.home-img {
  width: 410px;
  height: 410px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.5s, 2.5s;
}

.home-img .glowing-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  background: #0c1022;
  border-radius: 50%;
}

.glowing-circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c33722, #fdfb2d);
  border-radius: 50%;
}

.glowing-circle span:nth-child(1) {
  filter: blur(10px);
}

.glowing-circle .image {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image img {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
}

/* KEYFRAMES ANIMATION */

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ABOUT SECTION */

.about-content {
  max-width: 700px;
  margin: 30px auto;
}

.about-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 20px auto;
  text-align: center;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.about-content .glowing-box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.glowing-box span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c33722, #fdfb2d);
  border-radius: 50%;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 5s ease-in-out infinite;
  animation-delay: 1s;
}

.glowing-box span:nth-child(1) {
  filter: blur(40px);
}

.about-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-left: 15px 0 30px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.about-content p {
  font-size: 16px;
  margin: 15px 0 30px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}

.about-content a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.about-content a.active,
.about-content a:hover {
  background: linear-gradient(45deg, #c33722, #fdfb2d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* PORTFOLIO SECTION */

.photo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  height: 50%;
  margin: 20px auto;
  margin-top: 80px;
  columns: 4;
  column-gap: 20px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.1s;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.container .box img {
  max-width: 100%;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .comtainer {
    width: calc(100%-40px);
    columns: 3;
  }
}

/* CONTACT SECTION */

.contact-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0e0d11;
}

.contact h2 {
  font-size: 38px;
  background: -webkit-linear-gradient(#c33722, #fdfb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 5px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.contact form {
  width: 600px;
  text-align: center;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.8s;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #838240;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}

.field.error .item {
  border-color: #d93025;
}

.field .item::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.field .error-txt {
  font-size: 14.5px;
  color: #c33722;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-txt {
  display: block;
}

form .textarea-field .item {
  resize: none;
}

form .textarea-field .error-txt {
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 48px;
  border-radius: 40px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
}

form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #c33722, #fdfb2d, #c33722);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: 0.5s ease;
}

form button:hover::before {
  background-position: 100% 0;
}

form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #c33722, #fdfb2d, #c33722);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

form button:hover::after {
  background-position: 100% 0;
}
